<div class="container w-100 bg-pink-100">
  <h1
    id="headline"
    [attr.data-text]="distance < 0 ? birthdayText2 : birthdayText"
  >
    {{ birthdayText }}
  </h1>
  <div id="countdown">
    <ul>
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
  <div id="content" class="emoji">
    <span>🥳</span>
    <span>🎉</span>
    <span>🎂</span>
  </div>
</div>

<div class="container">
  <div class="avatar">
    <a href="https://www.facebook.com/ntt.tinh311">
      <img
        [style]="{
        }"
        src="assets/images/huyen.jpg"
        alt="Diệu Huyền"
      />
    </a>
  </div>
  <div class="content mt-0">
    <h2>Diệu Huyền</h2>
  </div>
</div>
